<div class="container-fluid pad-top-25" id="sponsors">
  <div class="row no-gutters">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
      <h2 class="text-center"><b>Sponsors</b></h2>
      <p class="text-center">
        PySangamam is purely driven by volunteers.
        Sponsoring PySangamam helps to grow the conference as well as the community.
        Sponsors help in making the conference affordable, and maintaining the inventory for the conference.
        <a target="_blank" href="sponsorship-prospectus.pdf" class="btn btn-lg btn-success mar-top-10">Sponsor</a>
      </p>
    </div>
  </div>

  <div class="row no-gutters">
    <hr class="col-md-6">
  </div>

  <div class="row no-gutters mar-top-20">
    <div class="col-10 offset-1 col-md-8 offset-md-2 text-center">
      <h4 class="text-center"><b>Silver</b></h4>
      <img src="img/pipal.png" alt="Pipal Academy" class="sponsor-logo">
    </div>
  </div>

  <div class="row no-gutters">
    <hr class="col-md-3">
  </div>

  <div class="row no-gutters mar-top-20">
    <div class="col-10 offset-1 col-md-8 offset-md-2 text-center">
      <h4 class="text-center"><b>Patron</b></h4>
      {% include_relative img/claylabs.svg %}
    </div>
  </div>

  <div class="row no-gutters">
    <hr class="col-md-3">
  </div>

  <div class="row no-gutters mar-top-20">
    <div class="col-10 offset-1 col-md-8 offset-md-2 text-center">
      <h4 class="text-center"><b>Partners</b></h4>
      <div class="partner-logo">
        {% include_relative img/zilogic.svg %}
        <p>Institutional Support</p>
      </div>
    </div>
  </div>
</div>
